---
import { baseURL } from '../pages/index.astro';

const links = [
	{ url: `${baseURL}/`, title: 'Home' },
	{ url: `${baseURL}/products`, title: 'Products' },
	{ url: `${baseURL}/about`, title: 'About' },
];
---

<nav
	class='flex items-center justify-between m-auto p-4 h-[50px] w-full absolute inset-[0 0 auto 0] bg-gray-400 text-white'
>
	<a href='/astro_project1/'>
		<h2 class='text-lg font-bold'>Astro site</h2>
	</a>
	<ul class='flex items-center justify-center gap-4'>
		{
			links.map(link => (
				<li class='hover:text-sky-200'>
					<a href={link.url}>{link.title}</a>
				</li>
			))
		}
	</ul>
</nav>
